@model IEnumerable<TutorGuide.ViewModels.PostIndexViewModel>

@{
    ViewBag.Title = "Tuition Posts";
}

<section class="content-header">
    <h1 class="text-center">Tuition Posts</h1>
</section>

<section class="content">
    @foreach (var item in Model)
    {
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-body">
                        @item.Class / @item.Subjects / @item.DaysPerWeek days / @item.Salary / @item.PresentAddress
                    </div>
                    <div class="panel-footer text-center">
                        @Html.ActionLink("Details", "Details", "Post", new { id = item.Id },
                            new { @class = "btn btn-success btn-flat" })
                    </div>
                </div>
            </div>
        </div>
    }


</section>

